---
layout: page
title: 文章标签
body_class: scenic-page tags-page
kicker: Explore by topic
description: 从感兴趣的主题开始浏览。
permalink: /tags/
---

<div class="tag-cloud" aria-label="全部标签">
  {% for tag in site.tags %}
  <a href="#{{ tag[0] | slugify }}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a>
  {% else %}
  <p>标签会随着新文章一起出现。</p>
  {% endfor %}
</div>

<div class="tag-sections">
  {% for tag in site.tags %}
  <section id="{{ tag[0] | slugify }}" class="tag-section">
    <h2>{{ tag[0] }}</h2>
    <div class="tag-section__posts">
      {% for post in tag[1] %}
      <a href="{{ post.url | relative_url }}">
        <span>{{ post.title }}</span>
        <time>{{ post.date | date: '%Y.%m.%d' }}</time>
      </a>
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</div>
